body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
header{
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    height: 750px;
}
.header_left{
    padding-top: 150px;
    padding-left: 190px;
    width: 40%;
}
#header_h1{
    margin:15px 0;
    color: #272727;
    font-size: 60px;
    font-weight: 800;
}
p{
    margin: 20px 0;
    padding: 10px 0;
    font-size: 14px;
    color: rgba(39, 39, 39, 0.60);
    line-height: 25px;
}
.btn{
    padding: 20px 40px;
    background-color: #E55473;
    border-radius: 8px;
    color: #fff;
    border: none;
}
.header_img{
    width: 40%;
    position: relative;
}
.header_img img {
    padding-bottom: 0px;
    position: absolute;
    bottom: 0;
    padding-left: 80px;
    width: 90%;
  }

/* ////////////////////////////////// */

.written_part div{
    align-items: center;
    margin-top: 150px;
    margin-bottom: 40px;
}
h3{
    margin-bottom: 0;
    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}
.written_part p{
    text-align: center;
}
/* /////////////////////////////////// */
.featured_flowers{
    margin: 20px 100px;
}
.flower_part{
    display: flex;
}
.flower_part div{
    margin: 10px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
}

.image_box1{
    background: rgba(167, 33, 98, 0.15); 
}
.image_box2{
    background: rgba(5, 151, 160, 0.15);
}
.image_box3{
    background: rgba(71, 125, 17, 0.15);
}
#img1{
    margin: 110px 78px 0 ;
    width: 310px;
    height: 428px;
    flex-shrink: 0;    
}
#img2{
    margin: 117px 47px;
    width: 370px;
    height: 370px;
    flex-shrink: 0;    
}
#img3{
    margin: 67px 75px 0;
    width: 314px;
    height: 471px;
    flex-shrink: 0;    
}

/*    ////////////////////// */
.main3{
    align-items: center;
    display: flex;
    height: 620px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
}

.main3 div{
    margin: 300px 200px;
}
.main3 h1{
    color: #272727;
    font-size: 30px;
}
.main3 p{
    text-align: center;
}
.main3 .btn{
    margin-left: 100px;
}
.main3 div img{
    width: 318px;
    height: 420px;
    
}

/* //////////////////// */

.instagram_img{
    display: flex;
    align-items: center;
    margin: 100px;
}
.instagram_img div{
    margin: 20px;
}

.instagram_img img{
    width: 300px;
}

.banner_img{
    background-image: url(images/Rectangle\ 9.png);
    width: 1440px;
    height: 449px;
    flex-shrink: 0;
    margin: 100px;
}









footer{
    align-items: center;
    background-color: #111010;
    height: 450px;
    padding-top: 100px;
}
span{
    color: #E55473;
}
footer h1{
    text-align: center;
    color: #fff;
}